body {
  background-image: url(../map.png);
  background-size: 100% 100%;
}

p.auto-space {
  word-wrap: break-word; /* IE 5.5-7 */
  white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
  white-space: pre-wrap;
}

.flag {
  position: absolute;
  width: 3.24vw;
  height: 5.8vh;
  transition: 0.3s;
}

.flag:hover {
  opacity: 0.5;
}

.ro {
  left: 61vw;
  top: 64vh;
}

.ge {
  left: 41vw;
  top: 50vh;
}

.ic {
  left: 8vw;
  top: 14vh;
}

.ir {
  left: 18vw;
  top: 45vh;
}

.uk {
  left: 26vw;
  top: 43vh;
}

.fr {
  left: 32vw;
  top: 63vh;
}

.be {
  left: 35vw;
  top: 52vh;
  width: 2vw;
  height: 3.8vh;
}

.nl {
  left: 36vw;
  top: 47vh;
  width: 2vw;
  height: 3.8vh;
}

.lx {
  left: 37.5vw;
  top: 55.5vh;
  width: 1vw;
  height: 1.9vh;
}

.sz {
  left: 39vw;
  top: 62vh;
  width: 2vw;
  height: 3.8vh;
}

.it {
  left: 45vw;
  top: 73vh;
}

.es {
  left: 22vw;
  top: 80vh;
}

.pt {
  left: 15vw;
  top: 82vh;
}

.au {
  left: 48vw;
  top: 61vh;
  width: 2vw;
  height: 3.8vh;
}

.pl {
  left: 54vw;
  top: 48vh;
}

.cz {
  left: 49vw;
  top: 54.5vh;
  width: 2vw;
  height: 3.8vh;
}

.sl {
  left: 48.5vw;
  top: 65.5vh;
  width: 1.5vw;
  height: 2.9vh;
}

.cr {
  left: 51vw;
  top: 65.9vh;
  width: 1.5vw;
  height: 2.9vh;
}

.bo {
  left: 52.5vw;
  top: 70vh;
  width: 1.5vw;
  height: 2.9vh;
}

.mt {
  left: 54.6vw;
  top: 74.5vh;
  width: 1.5vw;
  height: 2.9vh;
}

.sr {
  left: 56.5vw;
  top: 70vh;
  width: 1.5vw;
  height: 2.9vh;
}

.ks {
  left: 57.2vw;
  top: 74.5vh;
  width: 1.5vw;
  height: 2.9vh;
}

.al {
  left: 56.2vw;
  top: 78.5vh;
  width: 1.5vw;
  height: 2.9vh;
}

.ma {
  left: 58.5vw;
  top: 78vh;
  width: 1.5vw;
  height: 2.9vh;
}

.gr {
  left: 58vw;
  top: 83vh;
}

.bl {
  left: 62vw;
  top: 73.5vh;
}

.hu {
  left: 54vw;
  top: 62.2vh;
  width: 2vw;
  height: 3.8vh;
}

.sk {
  left: 54vw;
  top: 57.2vh;
  width: 2vw;
  height: 3.8vh;
}

.md {
  left: 67vw;
  top: 62.2vh;
  width: 2vw;
  height: 3.8vh;
}

.ur {
  left: 68vw;
  top: 55vh;
}
.bs {
  left: 64vw;
  top: 44vh;
}
